body {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    background-color: rgb(245, 177, 188);
    font-family: Gaegu;
    color: white;
    
}

h1, h3 {
    text-align: center;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* CSS */
.button-45 {
    font-family: Gaegu;
    display: block;
    margin-left: auto;
    margin-right: auto;
  align-items: center;
  background-color: rgb(245, 177, 188);
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
  
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}


.button-45:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color:white;
}

